_client/dist/reco/**/*.js
_client/dist/reco/**/*.js.map
_client/dist/reco/**/*.d.ts
_client/dist/test/**/*.js
_client/dist/test/**/*.js.map
_client/dist/test/**/*.d.ts
_client/node_modules

_server/reco/**/*.js
_server/reco/**/*.js.map
_server/node_modules

**/temp.*
**/*-lock.json

