_client/**/temp.*
_client/dist/reco-*.js
_client/dist/reco-*.d.ts
_client/dist/reco-*.js.map
!_client/dist/reco-lib.js
!_client/dist/reco-srvcli.js

_client/reco/**/*.js
_client/reco/**/*.js.map
_client/reco/**/*.d.ts
_client/test/**/*.js
_client/test/**/*.js.map
_client/test/**/*.d.ts

_server/reco/**/*.js
_server/reco/**/*.js.map
_client/node_modules
_server/node_modules
design/**/*.png
**/*-lock.json
